<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>I am the app component</h1>
      <hr>
<app-servers></app-servers>
<hr>
<label>Add Stuff</label><br>
<p *ngIf="showSecretPassword">secret password: tuna</p>
<!-- <button class="btn btn-primary" (click)="showSecretPassword = !showSecretPassword">Display Details</button> -->
<button class="btn btn-primary" (click)="logDisplay()">Display Details</button>
<div *ngFor="let log of logButtons; let i=index"
[ngStyle]="{backgroundColor: i >=4 ? 'blue' : 'transparent'}"
[ngClass]="{logStyle: i>=4}"
>{{log}}</div>
</div>
  </div>
</div>
